<div id="didc-server-time" class="i-widget i-header" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div class="i-logo">
    </div>
    <div class="i-clock">
        <div class="i-clock-date">
            -
        </div>
        <div class="i-clock-time">
            <div class="i-clock-time-info i-hour">-</div>
            <div class="i-clock-time-info i-seperator"></div>
            <div class="i-clock-time-info i-minute">-</div>
        </div>
    </div>
</div>