<div class="i-widget i-containment" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div class="i-step">
        <div class="i-step-button i-left"></div>
    </div>
    <div class="i-containment-content">
        <div class="i-containment-title">
            <div class="i-title">
                <span class="i-containment-name"></span>
                <span class="i-line-vertical"></span>
                <span class="i-rack-max">현재 최대온도 랙 [<span class="i-rack-name-max"></span>]</span>
            </div>
            <div class="i-title-set">
                <button id="i-containment-set-control"></button>
                <button id="i-containment-set-button"></button>
            </div>
        </div>
        <div class="i-content">
            <div class="i-info">
                <div class="i-info-content i-avg">
                    <div class="i-title">평균</div>
                    <div class="i-value-content">
                        <span class="i-value"></span>
                        <span class="i-unit">℃</span>
                    </div>
                </div>
                <div class="i-info-content i-max">
                    <div class="i-title">최대</div>
                    <div class="i-value-content">
                        <span class="i-value"></span>
                        <span class="i-unit">℃</span>
                    </div>
                </div>
            </div>
            <div class="i-graph">
                <div class="i-containment-chart"></div>
            </div>
        </div>
    </div>
    <div class="i-step">
        <div class="i-step-button i-right"></div>
    </div>
</div>