<div class="i-widget i-hvac-run-state" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div class="i-title">
        항온항습기 가동현황
    </div>
    <div class="i-contents">
        <div id="i-hvac-run-1" class="i-panel">
            <div class="i-panel-title"></div>
            <div class="i-panel-body">
                <span class="i-hvac-run"></span><span class="i-hvac-total">/</span>
            </div>
        </div>
        <div id="i-hvac-run-2" class="i-panel">
            <div class="i-panel-title"></div>
            <div class="i-panel-body">
                <span class="i-hvac-run"></span><span class="i-hvac-total">/</span>
            </div>
        </div>
        <div id="i-hvac-run-3" class="i-panel">
            <div class="i-panel-title"></div>
            <div class="i-panel-body">
                <span class="i-hvac-run"></span><span class="i-hvac-total">/</span>
            </div>
        </div>
    </div>
</div>