<div id="didc-elec" class="i-widget i-icon" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div id="i-icon-elec" class="i-panel">
        <div class="i-img i-img-src"></div>
        <div class="i-img i-img-mask"></div>
        <div class="i-text">전력</div>
    </div>
</div>