<div id="didc-wind" class="i-widget i-icon" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div class="i-title">
        풍속
    </div>
    <div id="i-icon-wind" class="i-panel">
        <div class="i-contents">
            <div id="i-max" class="i-row">
                <span class="i-row-title">최대</span>
                <div class="i-row-content">
                    <span class="i-row-value"></span>
                    <span class="i-row-unit">m/s</span>
                </div>
            </div>
            <div id="i-avg" class="i-row">
                <span class="i-row-title">평균</span>
                <div class="i-row-content">
                    <span class="i-row-value"></span>
                    <span class="i-row-unit">m/s</span>
                </div>
            </div>
            <div id="i-min" class="i-row">
                <span class="i-row-title">최소</span>
                <div class="i-row-content">
                    <span class="i-row-value"></span>
                    <span class="i-row-unit">m/s</span>
                </div>
            </div>
        </div>
        <div class="i-img i-img-src"></div>
        <div class="i-img i-img-mask"></div>
    </div>
</div>