<div id="didc-fire" class="i-widget i-icon" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div id="i-icon-fire-b1f" class="i-panel i-left">
        <div class="i-img i-img-src"></div>
        <div class="i-img i-img-mask"></div>
        <div class="i-text">B1F</div>
    </div>
    <div id="i-icon-fire-b2f" class="i-panel i-right">
        <div class="i-img i-img-src"></div>
        <div class="i-img i-img-mask"></div>
        <div class="i-text">B2F</div>
    </div>
</div>