<div class="i-widget i-power" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div class="i-title">
        전력 사용현황
    </div>
    <div class="i-contents">
        <div id="i-power-it" class="i-panel">
            <div class="i-panel-title"></div>
            <div class="i-panel-body">
                <span class="i-value"></span><span class="i-unit"></span>
            </div>
        </div>
        <div id="i-power-hvac" class="i-panel">
            <div class="i-panel-title"></div>
            <div class="i-panel-body">
                <span class="i-value"></span><span class="i-unit"></span>
            </div>
        </div>
        <div id="i-power-loss" class="i-panel">
            <div class="i-panel-title"></div>
            <div class="i-panel-body">
                <span class="i-value"></span><span class="i-unit"></span>
            </div>
        </div>
    </div>
</div>