<div class="i-temphumi">
    <div id="<%= id %>" class="i-temphumi-content">
        <div class="i-title">
            <%= title %>
        </div>
        <div class="i-content">
            <span class="i-temphumi-icon i-temp"></span>
            <span class="i-value">
                <span class="i-val i-temp"><%= temp %></span>
                <span class="i-unit">℃</span>
            </span>
        </div>
        <div class="i-content">
            <span class="i-temphumi-icon i-humi"></span>
            <span class="i-value">
                <span class="i-val i-humi"><%= humi %></span>
                <span class="i-unit">%</span>
            </span>
        </div>
    </div>
</div>