<div class="i-widget i-hvac" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>">
    <div class="i-header">
        <%= header_text %>
    </div>
    <div class="i-run-state">
    </div>
    <div class="i-text i-title">
        온도
    </div>
    <div class="i-text i-value">
        <span class="temp"> - </span>
        <span class="i-unit">℃</span>
    </div>
    <div class="i-text i-title">
        습도
    </div>
    <div class="i-text i-value">
        <span class="humi"> - </span>
        <span class="i-unit">%</span>
    </div>
</div>