<div class="i-widget i-server-time" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>">
    <div class="i-icon date">
    </div>
    <div class="i-text date">
    </div>
    <div class="i-icon time">
    </div>
    <div class="i-text hour">
    </div>
    <div class="i-text column">
    </div>
    <div class="i-text minute">
    </div>
</div>