<div class="i-widget i-ups-battery" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>">
    <div class="i-battery-img"></div>
    <div class="i-battery-value">
        -
    </div>
</div>