html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Malgun Gothic';
    font-size: 13px;
    width: 100vw;
    height: 10vh;
    background-color: #f3f3f3;
    overflow: hidden;
    user-select: none;
    padding: 0.5em;
}

/***************************************************************************************************************/
/* by shkoh 20230919: kendo ui customizing start                                                               */
/***************************************************************************************************************/
.k-numerictextbox,
.k-numeric-wrap,
.k-button,
.k-grid,
.k-toolbar,
.k-textbox {
    border-radius: 0px;
}

.k-pager-sm .k-pager-info {
    display: flex;
}
/***************************************************************************************************************/
/* by shkoh 20230919: kendo ui customizing end                                                                 */
/***************************************************************************************************************/

/***************************************************************************************************************/
/* by shkoh 20230919: customizing style start                                                                  */
/***************************************************************************************************************/
.i-popup-hr {
    margin: 1em 0.2em;
    border-color: #dadada;
}

#i-containment-list {
    margin: 0 0.2em;
    height: calc(100vh - 33px - 27px - 1em);
}

#i-containment-list .k-grid-content > table .i-grid-icons {
    display: flex;
    justify-content: center;
}
/***************************************************************************************************************/
/* by shkoh 20230919: customizing style end                                                                    */
/***************************************************************************************************************/