<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %></title>

    <!-- by shkoh 20190214: 공통 css -->
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/component/jquery-ui-1.12.1/jquery-ui.min.css"/>

    <!-- by shkoh 20190214: custom scrollbar -->
    <link rel="stylesheet" href="/component/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>

    <!-- by shkoh 20190211: zTree -->
    <link rel="stylesheet" href="/component/zTree_v3.5.23/css/zTreeStyle/zTreeStyle.css"/>

    <!-- by shkoh 20190211: ubiGuard style -->
    <link rel="stylesheet" href="/stylesheets/fonts.css"/>
    <link rel="stylesheet" href="/stylesheets/nps/center_datacenter.css"/>
</head>
<body>
    <div class="container-fluid">
        <aside class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding:0px 4px; height:100%;">
            <div class="panel panel-default">
                <div class="panel-heading">건축</div>
                <div class="panel-body">
                    <div id="tree-content" class="ztree" style="height: inherit;"></div>
                </div>
            </div>
        </aside>
        <article class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding:0px 4px; height:100%;">
            <div class="panel panel-default">
                <div class="panel-heading">국민연금관리공단 ICT센터 >> 1F</div>
                <div class="panel-body">
                    <div style="background-image: url('/img/group/1F.jpg'); background-size:100% 100%; height: inherit;"></div>
                </div>
            </div>
        </article>
    </div>

    <!-- by shkoh 20190211: 공통 js -->
    <script src="/component/jquery-3.3.1/jquery-3.3.1.min.js"></script>    
    <script src="/component/jquery-3.3.1/jquery.session.js"></script>

    <script src="/component/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script src="/component/kendoui-2021.1.119/js/kendo.all.min.js"></script>

    <script src="/component/promise-polyfill/promise-polyfill.js"></script>

    <!-- by shkoh 20190211: custom scrollbar -->
    <script src="/component/mCustomScrollbar/jquery.mousewheel.min.js"></script>
    <script src="/component/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>

    <!-- by shkoh 20190211: zTree -->
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.core.min.js"></script>
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.exedit.min.js"></script>

    <script src="/javascripts/nps/center/treeContent.js"></script>
    <script src="/javascripts/nps/center/datacenter.js"></script>
</body>
</html>