<div class="hvac-panel" id="<%= object_id %>">
    <table>
        <tbody>
            <tr>
                <td rowspan="3" class="hvac-icon" obj-id="<%= object_id %>"></td>
                <td rowspan="3" style="width: 4px;"></td>
                <td class="th-icon-img temp"></td>
                <td class="th-icon-text temp th-popup"><span class="text"> - </span><span class="th-icon-text-unit">℃</span></td>
            </tr>
            <tr>
                <td style="padding:1px;"></td>
            </tr>
            <tr>
                <td class="th-icon-img humi"></td>
                <td class="th-icon-text humi th-popup"><span class="text"> - </span><span class="th-icon-text-unit">%</span></td>
            </tr>
        </tbody>
    </table>
</div>