<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title><%= title %></title>

    <!-- by shkoh 20210222: 공통 css -->
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.bootstrap.min.css" />
    
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" />
    
    <link rel="stylesheet" href="/component/jquery-ui-1.12.1/jquery-ui.min.css" />

    <!-- by shkoh 20210222: custom scrollber -->
    <link rel="stylesheet" href="/component/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
    
    <!-- by shkoh 20210222: zTree -->
    <link rel="stylesheet" href="/component/zTree_v3.5.23/css/zTreeStyle/zTreeStyle.css" />

    <!-- by shkoh 20210510: cytoscape  -->
    <link rel="stylesheet" href="/component/jquery-qtip-3.0.3/jquery.qtip.min.css" />

    <!-- by shkoh 20210222: ubiGuard -->
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/diagram.css" />
</head>
<body>
    <div id="map" data="<%= type %>">
        <div id="cytoscape" tabindex="1"></div>
        <div id="qtip-container"></div>
<%if(image != '') {%>
        <div id="img" class="<%= type %>" style="background-image: url('<%=image%>');"></div>
<%}%>

<%if(grade == 'USR00') {%>
        <div id="ctrlButtons" style="top: 5%;">
            <input id="file-upload" name="files" type="file"/>
            <button type="button" id="btn-icon-bk-remove">배경제거</button>
            <button type="button" id="btn-icon-insert">추가</button>
            <button type="button" id="btn-icon-delete">삭제</button>
            <button type="button" id="btn-icon-save">위치저장</button>
        </div>
<%}%>
    </div>

<%if(grade == 'USR00') {%>
    <div class="modal fade" id="modalDialogIcon" tabindex="-1" role="dialog" aria-labelledby="modalDialogIcon">
        <div class="modal-dialog" role="document" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-dialog-icon-title" style="font-weight:700;">테스트 아이콘 등록</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input id="file-icon-upload" name="files" type="file"/>
                            <input type="text" id="icon-label"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-modal-footer-confirm">추가</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
<%}%>

    <!-- by shkoh 20210222: 공통 js -->
    <script src="/component/kendoui-2021.1.119/js/jquery.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/kendo.all.min.js"></script>
    
    <script src="/component/jquery-3.3.1/jquery.session.js"></script>
    
    <script src="/component/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    
    <script src="/component/promise-polyfill/promise-polyfill.js"></script>

    <!-- by shkoh 20210222: custom scrollbar -->
    <script src="/component/mCustomScrollbar/jquery.mousewheel.min.js"></script>
    <script src="/component/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>

    <!-- by shkoh 20210222: zTree -->
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.core.min.js"></script>
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.excheck.min.js"></script>

    <!-- by shkoh 20210222: cytoscape  -->
    <script src="/component/jquery-qtip-3.0.3/jquery.qtip.min.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape-qtip.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape-cxtmenu.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape-node-html-label.min.js"></script>
    
    <!-- by shkoh 20210222: ubiGuard -->
    <script src="/javascripts/diagram/items.js"></script>
    <script src="/javascripts/diagram/tree.js"></script>
    <script src="/javascripts/diagram/tester/icon/main.js"></script>
</body>