<div class="th-panel" id="<%= object_id %>">
    <table class="th-table">
        <tbody>
            <tr class="th-row" row-index="1"><td class="th-col th_1"><span class="th-value val_1"></span><span class="th-unit unit_1"></span></td></tr>
            <tr><td style="padding:1px;"></td></tr>
            <tr class="th-row" row-index="2"><td class="th-col th_2"><span class="th-value val_2"></span><span class="th-unit unit_2"></span></td></tr>
            <tr><td style="padding:1px;"></td></tr>
            <tr class="th-row" row-index="3"><td class="th-col th_3"><span class="th-value val_3"></span><span class="th-unit unit_3"></span></td></tr>
            <tr><td style="padding:1px;"></td></tr>
            <tr class="th-row" row-index="4"><td class="th-col th_4"><span class="th-value val_4"></span><span class="th-unit unit_4"></span></td></tr>
        </tbody>
    </table>
</div>