<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>설비</span>
            </li>
            <li class="list-group-item" data="main_sym_1">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">항온항습기</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_sym_2">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">열교환기</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_sym_3">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">냉동기</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_sym_4">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">냉각탑</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>전력 >> UPS</span>
            </li>
            <li class="list-group-item" data="main_ups_1">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">UPS1조</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_ups_2">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">UPS2조</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_ups_3">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">UPS3조</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_ups_4">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">UPS4조</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_ups_5">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">UPS5조</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_ups_6">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">UPS6조</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>전력</span>
            </li>
            <li class="list-group-item" data="main_power_sym2">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">누전경보기 상태</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_power_sym3">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">STS 상태</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_power_sym4">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">BMS 상태</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_power_sym5">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">PMS 상태</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_power_sym6">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">발전기 상태</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone" style="flex: 1;">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 1호기</span>
            </li>
            <li class="list-group-item" data="main_he1_in">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">환수온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he1_out">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">공급온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he1_sev">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">상태</span><span class="is-popup">POP</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 2호기</span>
            </li>
            <li class="list-group-item" data="main_he2_in">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">환수온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he2_out">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">공급온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he2_sev">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">상태</span><span class="is-popup">POP</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 3호기</span>
            </li>
            <li class="list-group-item" data="main_he3_in">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">환수온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he3_out">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">공급온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he3_sev">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">상태</span><span class="is-popup">POP</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 4호기</span>
            </li>
            <li class="list-group-item" data="main_he4_in">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">환수온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he4_out">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">공급온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he4_sev">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">상태</span><span class="is-popup">POP</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 5호기</span>
            </li>
            <li class="list-group-item" data="main_he5_in">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">환수온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he5_out">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">공급온도</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="main_he5_sev">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">상태</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone" style="flex: 2; padding: 0px;">
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>B5F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq0_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq0_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq0_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq0_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq0_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>B5F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq0_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq0_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq0_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq0_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq0_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>1F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq1_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq1_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq1_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq1_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq1_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>1F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq1_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq1_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq1_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq1_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq1_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>2F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq2_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq2_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq2_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq2_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq2_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>2F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq2_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq2_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq2_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq2_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq2_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>3F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq3_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq3_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq3_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq3_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq3_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>3F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq3_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq3_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq3_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq3_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq3_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>4F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq4_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq4_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq4_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq4_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq4_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>4F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq4_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq4_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq4_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq4_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq4_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>6F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq5_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq5_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq5_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq5_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq5_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>6F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq5_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq5_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq5_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq5_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq5_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>7F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq6_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq6_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq6_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq6_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq6_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>7F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq6_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq6_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq6_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq6_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq6_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>8F A존</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq7_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq7_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq7_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq7_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_a_seq7_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>8F B존</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq7_tmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq7_tem">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq7_hmax">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">MAX습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq7_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_b_seq7_elc">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">전력</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>냉동기</span>
                    </li>
                    <li class="list-group-item" data="main_emer_a1">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">1호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_a2">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">2호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_a3">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">3호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_a4">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">4호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_a5">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">5호기</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>냉각탑</span>
                    </li>
                    <li class="list-group-item" data="main_emer_b1">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">1호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_b2">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">2호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_b3">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">3호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_b4">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">4호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_b5">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">5호기</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>발전기</span>
                    </li>
                    <li class="list-group-item" data="main_emer_c1">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">1호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_c2">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">2호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_c3">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">3호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_c4">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">4호기</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_emer_c5">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">5호기</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="custom-panel-zone">
        <div class="custom-panel">
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>외기온습도</span>
                    </li>
                    <li class="list-group-item" data="main_out_tmp">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_out_hum">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">습도</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
            <div class="custom-panel-zone">
                <ul class="list-group">
                    <li class="list-group-item custom-list-title">
                        <span>지역냉방</span>
                    </li>
                    <li class="list-group-item" data="main_loc_out">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">공급온도</span><span class="is-popup">POP</span>
                    </li>
                    <li class="list-group-item" data="main_loc_in">
                        <div class="btn-group custom-btn-group" role="group">
                            <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                            <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                            <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                        </div>
                        <span class="obj-name">환수온도</span><span class="is-popup">POP</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>