<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item" data="sts_2_a">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 2F-A</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_2_b">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 2F-B</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_2_c">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 2F-C</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_2_d">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 2F-D</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_2_e">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 2F-E</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_2_f">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 2F-F</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item" data="sts_3_a">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 3F-A</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_3_b">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 3F-B</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_3_c">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 3F-C</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_3_d">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 3F-D</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_3_e">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 3F-E</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_3_f">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 3F-F</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item" data="sts_4_a">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-A</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_b">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-B</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_c">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-C</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_d">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-D</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_e">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-E</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_f">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-F</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_g">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-G</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_4_h">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 4F-H</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item" data="sts_6_a">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 6F-A</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_6_b">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 6F-B</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_6_c">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 6F-C</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_6_d">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 6F-D</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item" data="sts_7_a">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 7F-A</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_7_b">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 7F-B</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_7_c">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 7F-C</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_7_d">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 7F-D</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_7_e">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 7F-E</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_7_f">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 7F-F</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item" data="sts_8_a">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 8F-A</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_8_b">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 8F-B</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_8_c">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 8F-C</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_8_d">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 8F-D</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_8_e">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 8F-E</span><span class="is-popup">POP</span>
            </li>
            <li class="list-group-item" data="sts_8_f">
                <div class="btn-group custom-btn-group" role="group">
                    <button class="btn btn-default custom-btn custom-link-set" type="button">설비연결</button>
                    <button class="btn btn-default custom-btn custom-link-clear" type="button">연결해제</button>
                    <button class="btn btn-default custom-btn custom-link-popup" type="button">팝업</button>
                </div>
                <span class="obj-name">[STS] 8F-F</span><span class="is-popup">POP</span>
            </li>
        </ul>
    </div>
</div>