<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- by shkoh 20200813: kendoui-bootstrap styles -->
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.bootstrap.min.css" />

    <!-- by shkoh 20200813: bootstrap styles -->
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"/>

    <!-- by shkoh 20200814: custom scrollber -->
    <link rel="stylesheet" href="/component/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>

    <!-- by shkoh 20200814: zTree -->
    <link rel="stylesheet" href="/component/zTree_v3.5.23/css/zTreeStyle/zTreeStyle.css"/>

    <!-- by shkoh 20200819: DateTimePicker -->
    <link rel="stylesheet" href="/component/air-datepicker/css/datepicker.css"/>

    <!-- by shkoh 20200813: ubiguard style -->
    <link rel="stylesheet" href="/stylesheets/reports.css"/>
</head>
<body>
    <div class="container-fluid">
        <aside class="col-sm-3 col-md-3 col-lg-2 tree-panel">
            <div class="panel panel-default">
                <div class="panel-heading">조회항목</div>
                <div class="panel-body">
                    <div id="pms-tree" class="tree-content"></div>
                </div>
            </div>
        </aside>
        <article class="col-sm-9 col-md-9 col-lg-10 content-panel">
            <div class="panel panel-default panel-header">
                <div class="panel-heading">검색조건</div>
                <div class="panel-body">
                    <div class="searching">
                        <div class="first">
                        </div>
                        <div class="last">
                            <div class="conditions">
                                <input id="search-button" type="button" class="custom-search-button" title="PMS 사용현황 조회"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">PMS 사용현황</div>
                <div class="panel-body">
                    <div id="report-toolbar"></div>
                    <div id="report-page">
                        <div id="report-content" class="r-report-content-portrait">
                            <table class="r-table r-table-header">
                                <tr>
                                    <th rowspan="1" colspan="2" width="8%" data-type="stamp" class="r-border-left r-border-top">작 성</th>
                                    <th rowspan="1" colspan="2" width="8%" data-type="stamp" class="r-border-left r-border-top">검 토</th>
                                    <th rowspan="1" colspan="2" width="8%" data-type="stamp" class="r-border-left r-border-top r-border-right">승 인</th>
                                    <th rowspan="2" colspan="16" data-type="stamp" class="r-font-title r-font-underline">PMS 사용현황 보고서</th>
                                    <th rowspan="1" colspan="2" width="8%" data-type="stamp" class="r-border-left r-border-top r-border-right">확 인</th>
                                </tr>
                                <tr height="50">
                                    <td rowspan="1" colspan="2" data-type="stamp" class="r-border-left r-border-top r-border-bottom"></td>
                                    <td rowspan="1" colspan="2" data-type="stamp" class="r-border-left r-border-top r-border-bottom"></td>
                                    <td rowspan="1" colspan="2" data-type="stamp" class="r-border-left r-border-top r-border-bottom r-border-right"></td>
                                    <td rowspan="1" colspan="2" data-type="stamp" class="r-border-left r-border-top r-border-bottom r-border-right"></td>
                                </tr>
                            </table>
                            <table class="r-table r-table-info">
                                <tr height="25">
                                    <td rowspan="1" colspan="24" class=""></td>
                                </tr>
                                <tr height="25">
                                    <td rowspan="1" colspan="24" class="r-border-left r-border-top r-border-right r-align-left r-font-info r-font-bold">보고서 요약</td>
                                </tr>
                                <tr height="25">
                                    <td rowspan="1" colspan="3" class="r-border-left r-border-top r-bk-gray r-font-info r-font-bold">조회설비</td>
                                    <td rowspan="1" colspan="21" class="r-border-left r-border-top r-border-right r-font-info r-align-left" style="white-space: pre-line;"><span id="report-equip"></span></td>
                                </tr>
                                <tr height="25">
                                    <td rowspan="1" colspan="3" class="r-border-left r-border-top r-border-bottom r-bk-gray r-font-info r-font-bold">출력일자</td>
                                    <td rowspan="1" colspan="9" class="r-border-left r-border-top r-border-bottom r-border-right r-font-info r-align-left"><span id="print-date"></span></td>
                                    <td rowspan="1" colspan="3" class="r-border-left r-border-top r-border-bottom r-bk-gray r-font-info r-font-bold">출력자</td>
                                    <td rowspan="1" colspan="9" class="r-border-left r-border-top r-border-bottom r-border-right r-font-info r-align-left"><span id="printer-name"></span></td>
                                </tr>
                            </table>
                            <div id="contents-tables">
                            </div>
                            <table class="r-table r-table-bottom">
                                <tr height="40">
                                    <td rowspan="1" colspan="24" class="r-border-top r-font-footer">UbiGuard FMS 5.6</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <script type="text/x-kendo-template" id="pms-template">
        <table class="r-table r-table-contents" equipId="#: data.equip_id #" noData="#: data.no_data #">
            <thead class="type1">
                <tr height="20">
                    <td rowspan="1" colspan="24" cellType="start"></td>
                </tr>
                <tr height="25">
                    <td rowspan="1" colspan="24" class="r-bk-gray r-font-large r-font-bold r-align-left r-valign-middle">◾️ <span id="name">[#: data.group_name #] #: data.equip_name #</span></td>
                </tr>
                <tr height="10">
                    <td rowspan="1" colspan="24" cellType="start"></td>
                </tr>
            </thead>
            <thead class="type2">
                <tr height="20">
                    <th rowspan="1" colspan="2" class="r-border-left r-border-top r-font-bold r-bk-gray">순번</td>
                    <th rowspan="1" colspan="3" class="r-border-left r-border-top r-font-bold r-bk-gray">차단기 번호</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-font-bold r-bk-gray">차단기 이름</td>
                    <th rowspan="1" colspan="3" class="r-border-left r-border-top r-font-bold r-bk-gray">차단기 형태</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-font-bold r-bk-gray">전류(A)</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-font-bold r-bk-gray">전력(W)</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-border-right r-font-bold r-bk-gray">전력량(kWh)</td>
                </tr>
            </thead>
            <tbody>
                # for(let idx = 0; idx < data.breaker_data.length; idx++) { #
                    <tr height="20">
                        <td rowspan="1" colspan="2" class="r-border-left r-border-top r-data-index">#: idx + 1 #</td>
                        <td rowspan="1" colspan="3" class="r-border-left r-border-top r-data-index">#: data.breaker_data[idx].pms_number #</td>
                        <td rowspan="1" colspan="4" class="r-border-left r-border-top">#: data.breaker_data[idx].sensor_name #</td>
                        <td rowspan="1" colspan="3" class="r-border-left r-border-top">#: data.breaker_data[idx].phase #</td>
                        <td rowspan="1" colspan="4" class="r-border-left r-border-top r-data-number">#: kendo.toString(data.breaker_data[idx].current_value, 'n1') #</td>
                        <td rowspan="1" colspan="4" class="r-border-left r-border-top r-data-index">#: kendo.toString(data.breaker_data[idx].power, 'n0') #</td>
                        <td rowspan="1" colspan="4" class="r-border-left r-border-top r-border-right r-data-number2">#: kendo.toString(data.breaker_data[idx].power_amount, 'n2') #</td>
                    </tr>
                # } #
            </tbody>
            <tfoot>
                <tr height="20">
                    <th rowspan="1" colspan="12" class="r-border-left r-border-top r-border-bottom r-font-bold r-bk-gray">총합</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-border-bottom r-font-bold r-bk-gray r-data-number">#: data.sum_current #</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-border-bottom r-font-bold r-bk-gray r-data-index">#: data.sum_power #</td>
                    <th rowspan="1" colspan="4" class="r-border-left r-border-top r-border-right r-border-bottom r-font-bold r-bk-gray r-data-number2">#: data.sum_power_amount #</td>
                </tr>
            </tfoot>
        </table>
    </script>

    <!-- by shkoh 20200813: jquery -->
    <script src="/component/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/component/jquery-3.3.1/jquery.session.js"></script>

    <!-- by shkoh 20200813: bootstrap -->
    <script src="/component/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <!-- by shkoh 20200814: custom scrollbar -->
    <script src="/component/mCustomScrollbar/jquery.mousewheel.min.js"></script>
    <script src="/component/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>

    <!-- by shkoh 20200813: kendoui -->
    <script src="/component/kendoui-2021.1.119/js/kendo.all.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/cultures/kendo.culture.ko.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/pako_deflate.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/jszip.min.js"></script>

    <script src="/component/promise-polyfill/promise-polyfill.js"></script>
    
    <!-- by shkoh 20200814: zTree -->
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.core.min.js"></script>
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.excheck.min.js"></script>
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.exedit.min.js"></script>

    <!-- by shkoh 20200819: DateTimePicker -->
    <script src="/component/air-datepicker/js/datepicker.min.js"></script>
    <script src="/component/air-datepicker/js/i18n/datepicker.kr.js"></script>

    <!-- by shkoh 20200824: export pdf -->
    <script src="/component/jsPDF/jspdf.min.js"></script>
    <script src="/component/jsPDF-autotable/jspdf.plugin.autotable.min.js"></script>
    <script src="/fonts/MalgunGothic-normal.js"></script>
    <script src="/fonts/MalgunGothic-bold.js"></script>

    <!-- by shkoh 20200813: reports javascripts -->
    <script src="/javascripts/reports/datePicker.js"></script>
    <script src="/javascripts/reports/treeContent.js"></script>
    <script src="/javascripts/reports/exportUtil.js"></script>
    <script src="/javascripts/reports/wrfis/pms.js"></script>
</body>
</html>